*.egg-info
.DS_Store
.coverage
.idea
.ipynb_checkpoints
.scannerwork
.venv*
.vscode
__pycache__
coverage.xml
docs/build
docs/source/_static/logo_circle.png
docs/source/examples
vanguard/datasets/data
